// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/timeline';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

pre {
    background-color: #fff;
    border: 1px solid #aeb7bd;
}

p code,
li code {
    color: #d14;
    font-weight: 700;
}