{% extends 'layout.html' %}

{% block pageTitle %}
  NHS components - Code club
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/introduction",
    text: "Introduction"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        NHS components
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Using components and custom SASS/CSS
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/introduction",
            text: "Introduction"            
          },
          {
            href: "/nhs-components",
            text: "NHS components",
            current: "true"
          },
          {
            href: "/modifying-components",
            text: "Modifying components"
          },
          {
            href: "/custom-components",
            text: "Custom components"
          }
        ]
      }) }}

      <p>
        For the most part, this section is pretty straight forward. The only thing to consider, which is likely only for a developer to worry about is whether to use the HTML or Nunjucks when using a component from the component library.
      </p>

      <p>The prototype kit which you will be using allows you to use both, however some other projects that might be built in Java or static HTML sites you may be limited to using just the HTML blocks of code.</p>

      <p>For the sake of simplicity of this tutorial going forward we will use HTML.</p>

      <p>To use the components head to the 'component library' which can be accessed from the <a href="https://service-manual.nhs.uk/design-system/components" target="_blank">service manual</a> (opens in a new tab), select the relevant component from the menu, and copy and paste the block of code into the relevent temlpate.</p>

      <p>For example, if I wanted to add a 'Date input' to this page, I would copy the HTML for a date input from the service manual, find the template for this page found in <code>app/views/nhs-components.html</code> and paste it.</p>

      <p>Please feel free to open the file mentioned above in your code editor and paste in a component of your choice.</p>

      <!-- Paste your component on the line below -->

      {{ pagination({
        "previousUrl": "/introduction",
        "previousPage": "Introduction",
        "nextUrl": "/modifying-components",
        "nextPage": "Modifying components"
      }) }}

    </div>
  </div>
{% endblock %}
