<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Useful links - Code club
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">

			<!-- Change the page title here -->
			<h1>
			Useful links
			<span class="nhsuk-caption-xl nhsuk-caption--bottom">Using components and custom SASS/CSS</span>
			</h1>

			<!-- Add your content here -->
			<!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
			
			<h2>Learning SASS/CSS</h2>

			<ul class="nhsuk-list">
				<li><a href="https://www.w3schools.com/css/" target="_blank">W3 Schools</a> (opens in a new tab)</li>
				<li><a href="https://www.codecademy.com/learn/learn-css" target="_blank">Codecademy</a> (opens in a new tab)</li>
				<li><a href="https://sass-lang.com/guide" target="_blank">Learn SASS</a> (opens in a new tab)</li>
				<li><a href="https://flexboxfroggy.com/" target="_blank">Flexbox Froggy</a> (opens in a new tab)</li>
			</ul>

			<h2>Useful SASS/CSS tips</h2>

			<ul class="nhsuk-list">
				<li><a href="https://css-tricks.com/snippets/" target="_blank">CSS Tricks</a> (opens in a new tab)</li>
				<li><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">Flexbox (CSS Tricks)</a> (opens in a new tab)</li>
				<li><a href="https://css-tricks.com/a-complete-guide-to-css-media-queries/" target="_blank">Media Queries (CSS Tricks)</a> (opens in a new tab)</li>
			</ul>

			<h2>Other useful links</h2>

			<ul class="nhsuk-list">
				<li><a href="https://github.com/ctdesign/gov-design-systems-list" target="_blank">Gov Design Systems List</a> (opens in a new tab)</li>
				<li><a href="https://github.com/nhsuk/nhsuk-frontend" target="_blank">NHS Frontend Toolkit (GitHub)</a> (opens in a new tab)</li>
			</ul>

			
			<!-- End of content -->
		</div>
	</div>
{% endblock %}
